
#ParticleComponent {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}

.section {
    margin-bottom: 3rem;
}
.content {
    text-align: left;
    position: absolute;
    margin: auto;
    padding: 1rem 5rem;
    width: 100%;
    height: 100%;
    top: 20vh;
}

.highlight {
    color:rgb(241, 208, 43)
}
.content .slogan-left {
    text-align: left;
    /* padding: 1rem 5rem; */
}
.content .slogan-right {
    text-align: left;
    /* padding: 1rem 5rem; */
}
.content .slogan-left p {
    text-align: left;
    padding:  0rem;
}

.content h1 {
    font-size: 6vh;
    color: #fff;
}
.content h2 {
    font-size: 4vh;
    padding-bottom:1rem;
    color: rgb(241, 208, 43)
}
.content .projects h2 {
    font-size: 4vh;
    padding-bottom:1rem;
    color: rgb(255, 255, 255)
}
.content .projects h3 {
    font-size: 3vh;
    padding-bottom:1rem;
    color: rgb(241, 208, 43)
}
.content p {
    max-width: 1080px;
    text-align: left;
    font-size: 2.5vh;
    font-weight: 400;
    margin-bottom: 1.6vh;
    color: #fff;
    padding: 1rem 5rem;
}

.content .btn {
    margin: 1rem, .2rem;
}
.content .btn-light {
    margin: 1rem, .2rem;
}

.responsive {
    max-width: 80%;
    height: auto;
  }
/* .content .socials {
    align-items: center;
    text-align: left;
    margin-bottom: 1;
} */