
#ParticleComponent {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}

.content {
    text-align: left;
    position: absolute;
    margin: auto;
    padding: 1rem 5rem;
    width: 100%;
    height: 100%;
    top: 20vh;


}
.highlight {
    color:rgb(241, 208, 43)
}
.content .slogan-left {
    text-align: left;
    /* padding: 1rem 5rem; */
}
.content .slogan-right {
    text-align: left;
    /* padding: 1rem 5rem; */
}
.content .slogan-left p {
    text-align: left;
    padding:  0rem;
}

.content h1 {
    font-size: 6vh;
    color: #fff;
}
.content h2 {
    font-size: 4vh;
    padding-bottom:1rem;
    color: rgb(132, 110, 58);
}
.content p {
    max-width: 720px;
    text-align: left;
    font-size: 2.5vh;
    font-weight: 400;
    margin-bottom: 1.6rem;
    color: #fff;
    padding: 1rem 5rem;
}

.content .btn {
    margin: 1rem, .2rem;
}
.content .btn-light {
    margin: 1rem, .2rem;
}

.content .socials {
    align-items: center;
    text-align: center;
    margin-bottom: 1;
}