
#ParticleComponent {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}

.intro {
    position: fixed;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 10;

}

.profile {
    align-items: center;
}
.li {
    display:inline;
}
.about-me {
    top: 10%;
    text-align:center;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.about-me-items {
    display:inline-table;
}
.title {    
    font-size: 3rem;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
}

.description {
    align-items: center;
    padding: 2rem 4rem 2rem 2rem;   
}